PORT=3000
SUPABASE_URL=https://supabase-api.asikmydeen.com
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJvbGUiOiJhbm9uIiwiaWF0IjoxNzY5NjM5NTgxLCJleHAiOjE5ODM4MTI5OTZ9.T7ywhkToD1cJ9uDVpNKAI0MOesshC6bdnFrocaAgLT8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJvbGUiOiJzZXJ2aWNlX3JvbGUiLCJpYXQiOjE3Njk2Mzk1ODEsImV4cCI6MTk4MzgxMjk5Nn0.MqsxhOmlnN2c8BWQ8JSzimX5OWtPm6dvffItNMkCQKc
